@import "tailwindcss";

@theme {
  --color-primary: #DB2955;
  --color-primary-hover: #B91E47;
  --color-primary-bg: #FDF4F7;
  --color-brand-brown: #54494B;
  --color-brand-grey: #7E8287;
  --color-brand-green: #9DA39A;
  --color-brand-rose: #B98389;
  --color-badge-bronze: #CD7F32;
  --color-badge-silver: #C0C0C0;
  --color-badge-gold: #FFD700;
  --color-badge-bg: var(--colour-primary-bg);
}

@layer utilities {
  .bg-badge {
    background-color: var(--color-badge-bg);
  }

  .border-badge-bronze {
    border-color: var(--color-badge-bronze);
  }

  .border-badge-silver {
    border-color: var(--color-badge-silver);
  }

  .border-badge-gold {
    border-color: var(--color-badge-gold);
  }

  .border-badge-singular {
    border-color: var(--color-primary);
  }

  .border-l-badge-bronze {
    border-left-color: var(--color-badge-bronze);
  }

  .border-l-badge-silver {
    border-left-color: var(--color-badge-silver);
  }

  .border-l-badge-gold {
    border-left-color: var(--color-badge-gold);
  }

  .border-l-badge-singular {
    border-left-color: var(--color-primary);
  }

  .text-badge-bronze {
    color: var(--color-badge-bronze);
  }

  .text-badge-silver {
    color: var(--color-badge-silver);
  }

  .text-badge-gold {
    color: var(--color-badge-gold);
  }

  .text-badge-singular {
    color: var(--color-primary);
  }
}
