<div class="mt-16 px-6 lg:px-8">
  <div class="mx-auto max-w-2xl lg:max-w-7xl">
    <h1 class="text-pretty text-4xl font-medium tracking-tighter text-gray-950 dark:text-white sm:text-6xl">Want to find out more?</h1>
    <h2 class="my-6 max-w-3xl text-2xl font-medium text-gray-500">Join the <a class="text-[#54494B] underline underline-offset-[3px] hover:no-underline hover:text-[#9DA39A]" href="https://www.strava.com/clubs/ws10">Western Sydney 10 group on Strava</a> or sign up to the email newsletter below to find out about future events.</h2>
    <div class="mb-12">
      <script async data-uid="16ceeabcab" src="https://ws10.kit.com/16ceeabcab/index.js"></script>
    </div>
  </div>
</div>
