<div class="my-16 px-6 lg:px-8">
  <div class="mx-auto max-w-2xl lg:max-w-7xl">
    <div class="px-4 sm:px-6 lg:px-8">
      <h1 class="text-2xl font-semibold text-gray-900">Event #2 &mdash; 16/02/2025 &mdash; Nepean River</h1>
      <p class="mt-2 text-gray-700">Running conditions were perfect for the first WS10 at Nepean River, which saw a huge percentage increase in the number of participants.</p>
      <div class="mt-4 flow-root">
        <div class="-mx-4 -my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
          <div class="inline-block min-w-full py-2 align-middle sm:px-6 lg:px-8">
            <table class="table-fixed min-w-full divide-y divide-gray-300">
              <thead>
                <tr>
                  <th scope="col" class="py-3.5 pl-4 pr-3 text-left font-semibold text-gray-900 w-32">Position</th>
                  <th scope="col" class="px-3 py-3.5 text-left font-semibold text-gray-900">Name</th>
                  <th scope="col" class="px-3 py-3.5 text-left font-semibold text-gray-900 w-32">Time</th>
                </tr>
              </thead>
              <tbody class="divide-y divide-gray-200 bg-white">
                <tr class="hover:bg-[#B98389]/50">
                  <td class="whitespace-nowrap py-5 pl-4 pr-3 text-2xl text-gray-700">1</td>
                  <td class="whitespace-nowrap px-3 py-5 text-2xl text-gray-700">Altan</td>
                  <td class="whitespace-nowrap px-3 py-5 text-2xl text-gray-700">45:33</td>
                </tr>
                <tr class="hover:bg-[#B98389]/50">
                  <td class="whitespace-nowrap py-5 pl-4 pr-3 text-2xl text-gray-700">2</td>
                  <td class="whitespace-nowrap px-3 py-5 text-2xl text-gray-700">Matt</td>
                  <td class="whitespace-nowrap px-3 py-5 text-2xl text-gray-700">50:48</td>
                </tr>
                <tr class="hover:bg-[#B98389]/50">
                  <td class="whitespace-nowrap py-5 pl-4 pr-3 text-2xl text-gray-700">3</td>
                  <td class="whitespace-nowrap px-3 py-5 text-2xl text-gray-700">Lara</td>
                  <td class="whitespace-nowrap px-3 py-5 text-2xl text-gray-700">50:59</td>
                </tr>
                <tr class="hover:bg-[#B98389]/50">
                  <td class="whitespace-nowrap py-5 pl-4 pr-3 text-2xl text-gray-700">4</td>
                  <td class="whitespace-nowrap px-3 py-5 text-2xl text-gray-700">Brian</td>
                  <td class="whitespace-nowrap px-3 py-5 text-2xl text-gray-700">53:41</td>
                </tr>
                <tr class="hover:bg-[#B98389]/50">
                  <td class="whitespace-nowrap py-5 pl-4 pr-3 text-2xl text-gray-700">5</td>
                  <td class="whitespace-nowrap px-3 py-5 text-2xl text-gray-700">Josh</td>
                  <td class="whitespace-nowrap px-3 py-5 text-2xl text-gray-700">53:49</td>
                </tr>
                <tr class="hover:bg-[#B98389]/50">
                  <td class="whitespace-nowrap py-5 pl-4 pr-3 text-2xl text-gray-700">6</td>
                  <td class="whitespace-nowrap px-3 py-5 text-2xl text-gray-700">Glen</td>
                  <td class="whitespace-nowrap px-3 py-5 text-2xl text-gray-700">54:53</td>
                </tr>
                <tr class="hover:bg-[#B98389]/50">
                  <td class="whitespace-nowrap py-5 pl-4 pr-3 text-2xl text-gray-700">7</td>
                  <td class="whitespace-nowrap px-3 py-5 text-2xl text-gray-700">Jacob</td>
                  <td class="whitespace-nowrap px-3 py-5 text-2xl text-gray-700">58:29</td>
                </tr>
                <tr class="hover:bg-[#B98389]/50">
                  <td class="whitespace-nowrap py-5 pl-4 pr-3 text-2xl text-gray-700">8</td>
                  <td class="whitespace-nowrap px-3 py-5 text-2xl text-gray-700">Rhoda</td>
                  <td class="whitespace-nowrap px-3 py-5 text-2xl text-gray-700">1:18:02</td>
                </tr>
                <tr class="hover:bg-[#B98389]/50">
                  <td class="whitespace-nowrap py-5 pl-4 pr-3 text-2xl text-gray-700">V</td>
                  <td class="whitespace-nowrap px-3 py-5 text-2xl text-gray-700">Dave</td>
                  <td class="whitespace-nowrap px-3 py-5 text-2xl text-gray-700">Volunteer</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <hr class="w-48 h-1 mx-auto my-4 bg-gray-300 border-0 rounded-sm md:my-10">
      <h1 class="text-2xl font-semibold text-gray-900">Event #1 &mdash; 19/01/2025 &mdash; Bungarribee Park</h1>
      <p class="mt-2 text-gray-700">Cool conditions were ideal for running as a small but social group completed the inaugural WS10.</p>
      <div class="mt-4 flow-root">
        <div class="-mx-4 -my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
          <div class="inline-block min-w-full py-2 align-middle sm:px-6 lg:px-8">
            <table class="table-fixed min-w-full divide-y divide-gray-300">
              <thead>
                <tr>
                  <th scope="col" class="py-3.5 pl-4 pr-3 text-left font-semibold text-gray-900 w-32">Position</th>
                  <th scope="col" class="px-3 py-3.5 text-left font-semibold text-gray-900">Name</th>
                  <th scope="col" class="px-3 py-3.5 text-left font-semibold text-gray-900 w-32">Time</th>
                </tr>
              </thead>
              <tbody class="divide-y divide-gray-200 bg-white">
                <tr class="hover:bg-[#B98389]/50">
                  <td class="whitespace-nowrap py-5 pl-4 pr-3 text-2xl text-gray-700">1</td>
                  <td class="whitespace-nowrap px-3 py-5 text-2xl text-gray-700">Brad</td>
                  <td class="whitespace-nowrap px-3 py-5 text-2xl text-gray-700">49:35</td>
                </tr>
                <tr class="hover:bg-[#B98389]/50">
                  <td class="whitespace-nowrap py-5 pl-4 pr-3 text-2xl text-gray-700">2</td>
                  <td class="whitespace-nowrap px-3 py-5 text-2xl text-gray-700">Jacob</td>
                  <td class="whitespace-nowrap px-3 py-5 text-2xl text-gray-700">51:39</td>
                </tr>
                <tr class="hover:bg-[#B98389]/50">
                  <td class="whitespace-nowrap py-5 pl-4 pr-3 text-2xl text-gray-700">3</td>
                  <td class="whitespace-nowrap px-3 py-5 text-2xl text-gray-700">Dave</td>
                  <td class="whitespace-nowrap px-3 py-5 text-2xl text-gray-700">56:08</td>
                </tr>
                <tr class="hover:bg-[#B98389]/50">
                  <td class="whitespace-nowrap py-5 pl-4 pr-3 text-2xl text-gray-700">4</td>
                  <td class="whitespace-nowrap px-3 py-5 text-2xl text-gray-700">Josh</td>
                  <td class="whitespace-nowrap px-3 py-5 text-2xl text-gray-700">1:00:27</td>
                </tr>
                <tr class="hover:bg-[#B98389]/50">
                  <td class="whitespace-nowrap py-5 pl-4 pr-3 text-2xl text-gray-700">P</td>
                  <td class="whitespace-nowrap px-3 py-5 text-2xl text-gray-700">Rhoda</td>
                  <td class="whitespace-nowrap px-3 py-5 text-2xl text-gray-700">Participant</td>
                </tr>
                <tr class="hover:bg-[#B98389]/50">
                  <td class="whitespace-nowrap py-5 pl-4 pr-3 text-2xl text-gray-700">V</td>
                  <td class="whitespace-nowrap px-3 py-5 text-2xl text-gray-700">Matt</td>
                  <td class="whitespace-nowrap px-3 py-5 text-2xl text-gray-700">Volunteer</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
