<div class="mt-16 px-6 lg:px-8">
  <div class="mx-auto max-w-2xl lg:max-w-7xl">
    <h1 class="text-pretty text-4xl font-medium tracking-tighter text-gray-950 dark:text-white sm:text-6xl">Record your result <%= link_to "using this form", "https://forms.gle/3Fugv2jHs3BtfDtF7" %>...</h1>
    <h2 class="my-6 max-w-3xl text-2xl font-medium text-gray-500">...and then check back here tomorrow.</h2>
  </div>
</div>
