<h1>We miss you, <%= @user.name %></h1>

<p>
  It's been a while since we've seen you at WS10! We wanted to reach out and let you know that we'd love to see you back at our Saturday morning runs.
</p>

<p>
  <%= link_to "View upcoming events", events_url %>
</p>

<p>
  <%= link_to "View your profile", user_url %>
</p>

<p>
  If you're no longer interested in participating in WS10, we understand. You can manage your account settings or contact us at any time.
</p>

<p>
  Hope to see you soon!<br>
  The WS10 Team
</p>
