<% if Current.user %>
  <div class="relative flex group/item relative">
    <%= link_to "Profile", user_path, class: "flex items-center px-4 py-3 text-base font-semibold text-grey-950 bg-blend-multiply hover:bg-black/[2.5%]" %>
  </div>
  <% if Current.user.admin? || Current.user.organiser? %>
    <div class="relative flex group/item relative">
      <%= link_to "Admin", dashboard_path, class: "flex items-center px-4 py-3 text-base font-semibold text-grey-950 bg-blend-multiply hover:bg-black/[2.5%]" %>
    </div>
  <% end %>
  <div class="relative flex group/item relative">
    <%= button_to "Sign out", sign_out_path, method: :delete, class: "flex items-center px-4 py-3 text-base font-semibold text-primary cursor-pointer bg-blend-multiply hover:bg-black/[2.5%]" %>
  </div>
<% else %>
  <div class="relative flex group/item relative">
    <%=link_to "Sign in/up", sign_in_path, class: "flex items-center px-4 py-3 text-base font-semibold text-primary bg-blend-multiply hover:bg-black/[2.5%]" %>
  </div>
<% end %>
