<% if Current.user %>
  <div class="relative flex group/item relative">
    <%= link_to "Profile", user_path, class: "flex items-center px-4 py-3 text-base font-semibold text-grey-950" %>
  </div>
  <div class="relative flex group/item relative">
    <%= button_to "Sign out", logout_path, class: "flex items-center px-4 py-3 text-base font-semibold text-[#DB2955] cursor-pointer" %>
  </div>
<% else %>
  <div class="relative flex group/item relative">
    <%=link_to "Sign in/up", login_path, class: "flex items-center px-4 py-3 text-base font-semibold text-[#DB2955] bg-blend-multiply hover:bg-black/[2.5%]" %>
  </div>
<% end %>
