<div id="<%= dom_id result %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">User:</strong>
    <%= result.user_id %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Event:</strong>
    <%= result.event_id %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Time:</strong>
    <%= result.time %>
  </p>
</div>
